body {
  font-size: 1em;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #ad424b , #5a3e5f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #ad424b , #5a3e5f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #ad424b , #5a3e5f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #ad424b , #5a3e5f); /* Standard syntax */
  font-family: 'Texta-Thin';
  color: white;
  background-attachment: fixed;
  min-width: 320px;
}

.wrapper {
  max-width: 600px;
  min-width: calc(320px-2em);
  padding: 0 2rem;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1, h2 {
  font-family: 'Texta-Heavy';
  text-transform: uppercase;
  letter-spacing: .025em;
}

    h1 { 
      font-size: 4em; 
      }

    h2 {
      font-size: 2.5em;
      color: #ff977f;
    }

p {
  font-size: 1.3em;
  line-height: 1.15em;
  margin: 1em 0 1.5em 0;
}

footer {
  font-family: "FontAwesome";
  max-width: 600px;
  min-width: calc(320px-2em);
  margin: 2.5rem auto;

  a {
    color: #cccccc;
  }

  a:hover {
    color: #ffffff;
  }

  ul {
    display: inline-block;
    margin: 0 auto;

    li {
      float: left;
      font-size: 3em;
      margin-right: .8em;
    }
  }
}

 @media screen and (max-width: 480px) {
        h1 {
          font-size: 2em; 
        }

        h2 {
          font-size: 1.5em;
        }

        p {
          font-size: 1.2em;
        }
      }